<div class="posts-show-item">
 <%= @post.content %>
 <div class="post-time">
   <%= @post.created_at %>
    <div class="post-user-name">
     <%= link_to(@user.name,"/users/#{@user.id}") %>
    </div>
   <% if @post.user_id == @current_user.id %>
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
    <%= link_to("削除", "/posts/#{@post.id}/destroy",{method:"post"}) %>
   <% end %>
 </div>
 </div>